
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* my codes */

.router-link-exact-active{
    background-color: #007bff;
    color: #ffffff !important;
}
.router-link-exact-active i{
    color: #ffffff !important;
}
.blue{
    color:$blue
}
.indigo{
    color:$indigo
}
.purple{
    color:$purple
}
.pink{
    color:$pink
}
.red{
    color:$red
}
.orange{
    color:$orange
}
.yellow{
    color:$yellow
}
.green{
    color:$green
}
.teal{
    color:$teal
}
.cyan{
    color:$cyan
}
.box-tools{
    position: absolute;
    right: 25px;
    top: 6px;
}
.content-wrapper {
    background-color: #ecf0f5;
  }
.box{
    background-color: #fff !important;
    padding: 10px;
}
